.navbar-brand{
width:100%;
font-size: 2.5rem;
font-weight: 700;
}
.card{
   margin-top: 20px;
}
.table{
    background-color: white;
}
tbody{
    border:1px solid rgba(128, 128, 128, 0.315);
}
.jumbotron{
    padding:15px;
    background-color:rgba(128, 128, 128, 0.062);
}

.search-results{
    z-index: 5;
    display: none;
    position: absolute;
    border:1px solid rgba(128, 128, 128, 0.315);
    background-color:rgb(250, 248, 248);
}
.results-list{
    list-style-type: none;
    padding-right:20px ;
    padding-left:20px ;
}
.results-list li{
    border-bottom:1px solid rgba(128, 128, 128, 0.315);
}
.results-list li:hover{
    background: rgba(128, 128, 128, 0.315) ;
    cursor: pointer;
    color: blue;
    font-weight: 700;
}
td:hover{
    color: navy;
    font-weight: 700;
    cursor: pointer;
}
.bg-primary{
    color:white;
    margin: 0 auto;
}
.bg-primary img{
    width:50%;
    height:50%;
    margin-left: 25%;
}